.h-90 {
  height: 90vh !important;
}

.title {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.sidebar__list ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}
.side {
  border-right: solid 1px black;
}
.sidebar__list ul li ul li {
  padding: 0.2rem 0;
}

.sidebar_link {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 400;
}

.sidebar_link:hover {
  color: #7048e8;
  text-decoration: none;
}
.app__container {
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
}
.app__wrapper {
  background-color: #bfbfbf;
  height: 100vh;
}
.main {
  background: #f8f9fa;
}
